<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid" id="top-info">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
             data-target="#infoTop">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="collapse navbar-collapse" id="infoTop">
            <span class="contact-info">
              <span class="contact-group">
                  <span class="fa fa-phone"></span>
                  <span class="contact-text">
                    08157550744
                  </span>
              </span>
              <span class="contact-group">
                  <span class="fa fa-envelope"></span>
                  <span class="contact-text">
                    youremail@domain.com
                  </span>
              </span>
              <span class="contact-group">
                  <span class="fa fa-map-marker"></span>
                  <span class="contact-text">
                    No, 12 Oluakerele
                  </span>
              </span>
            </span>
            <span class="contact-info pull-right">
             <span class="contact-group">
                 <span class="fa fa-user"></span>
                 <a href="#" class="contact-text">
                   Sign Up
                 </a>
             </span>
             <span class="contact-group">
                 <span class="fa fa-sign-in"></span>
                 <a href="../backend/login.html" class="contact-text">
                   Login
                 </a>
             </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF TOP INFO -->
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <img src="images/logo.png">
        </div>
        <div class="col-md-9 col-sm-9">
          <span class="social-icon pull-right">
            <a href="#" target="_blank">
              <img src="images/fb.png" class="img-circle">
            </a>
            <a href="#" target="_blank">
              <img src="images/gp.png" class="img-circle">
            </a>
            <a href="#" target="_blank">
              <img src="images/tw.png" class="img-circle">
            </a>
          </span>
        </div>
      </div>
      <!-- END OF SITE LOGO -->
      <div class="row">
        <div class="navbar navbar-inverse" id="main-nav">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="fa fa-arrow-down ">menu</span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="site-nav">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="product-list1.html">Phones</a></li>
                <li><a href="product-list2.html">Laptops</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Screens</a></li>
                <li><a href="#" class="active">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF SITE MENU -->
     
      <!-- SITE BLOG STARTS HERE -->
      <div class="row">
        <div class="col-md-8 col-sm-8">
           <div class="contactPage">
              <h2>Contact Us</h2>
               <div class="row">
                 <div class="col-md-5 col-sm-4 col-xs-12">
                   <ul class="list-unstyled">
                     <li>
                       <span class="fa fa-map-marker"></span>
                       <span class="emphasis">No 12, Olu Akerele Street, Ikeja lagos</span>
                     </li>
                     <li>
                       <span class="fa fa-envelope"></span>
                       <span class="emphasis">info@alabiansolutions.com</span>
                     </li>
                     <li>
                       <span class="fa fa-envelope"></span>
                       <span class="emphasis">uwazie.benedict@alabiansolutions.com</span>
                     </li>
                     <li>
                       <span class="fa fa-phone"></span>
                       <span class="emphasis">08157550744</span>
                     </li>
                     <li>
                       <span class="fa fa-phone"></span>
                       <span class="emphasis">08034265103</span>
                     </li>
                   </ul>
                 </div>
                 <div class="col-md-7 col-sm-8 col-xs-12">
                   <form action="process.php" class="form-horizontal" id="contactForm">
                     <div class="form-group">
                       <label class="col-md-3 col-sm-5 col-xs-12 control-label">Name</label>
                       <div class="col-md-9 col-sm-7 col-xs-12">
                         <input type="text" placeholder="Surname Name" class="form-control">
                       </div>
                     </div>
                     <div class="form-group">
                       <label class="col-md-3 col-sm-5 col-xs-12 control-label">Phone</label>
                       <div class="col-md-9 col-sm-7 col-xs-12">
                         <input type="text" placeholder="08157550744" class="form-control">
                       </div>
                     </div>
                     <div class="form-group">
                       <label class="col-md-3 col-sm-5 col-xs-12 control-label">Email</label>
                       <div class="col-md-9 col-sm-7 col-xs-12">
                         <input type="text" placeholder="youremail@domain.com" class="form-control">
                       </div>
                     </div>
                     <div class="form-group">
                       <label class="col-md-3 col-sm-3 col-xs-12 control-label">Message</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                         <textarea placeholder="Message" class="form-control">
                         </textarea>
                       </div>
                     </div>
                     <button type="button" class="btn btn-info pull-right">Submit</button>
                   </form>
                   
                 </div>
               </div>
           </div>
         
        
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="widget">
            <h3>Categories</h3>
            <ul class="nav">
              <li><a href="#">Sports <span class="badge pull-right">7</span></a></li>
              <li><a href="#">Politics <span class="badge pull-right">10</span></a></li>
              <li><a href="#">Entertainment <span class="badge pull-right">5</span></a></li>
              <li><a href="#">User <span class="badge pull-right">4</span></a></li>
            </ul>
          </div>
           <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
               <form class="form-inline">
               <input class="form-control mr-sm-8" type="text" placeholder="Search">
               <button class="btn btn-success" type="submit">Search</button>
           </form>
          </nav>
          <div class="widget">
            <h3>Email Subscribtion</h3>
            <form class="form">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Enter Email">
              </div>
              <input type="submit" name="submit" class="btn btn-default btn-block">
            </form>
          </div>
        </div>
      </div>
      <!-- SITE BLOG ENDS HERE -->
    </div>
    <!-- END OF MAIN CONTENT -->
    <div class="container-fluid" id="site-footer">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h4>Services</h4>
          <ul class="nav">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Mobile App Development</a></li>
            <li><a href="#">Software Development</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Links</h4>
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Subscribe</h4>
          <form class="form">
            <div class="form-group">
              <input type="text" name="email" class="form-control">
            </div>
            <input type="submit" name="submit" value="Subscribe" class="btn btn-default btn-block">
          </form>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Follow Us</h4>
          <span class="social-icon">
            <a href="#" target="_blank">
              <img src="images/fb.png" class="img-circle">
            </a>
            <a href="#" target="_blank">
              <img src="images/gp.png" class="img-circle">
            </a>
            <a href="#" target="_blank">
              <img src="images/tw.png" class="img-circle">
            </a>
          </span>
        </div>

      </div>
    </div>





    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>