{% for message in messages %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
{% endfor %}

{% for hidden in form.hidden_fields %}
    {% if hidden.errors %}
        {% for error in hidden.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}

<div class="form-group">
    {{ field.label_tag }}
    {{ field }}
</div>

{% endfor %}

{% csrf_token %}