{% load static %}
<div class="col-sm-2 bg-dark h-100 pt-2 bg-warning" id="sideBar">
    <img src="{% static 'backend/images/logo.png' %}" alt="" class="img-fluid">
    <hr class="bg-white">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active text-white" href="{% url 'backend:post_form' %}">Add Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'backend:show_post' %}">View Post</a>
        </li>

    </ul>
    <hr class="bg-white">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active text-white" href="{% url 'backend:category_form' %}">Add Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">View Category</a>
        </li>

    </ul>
    <hr class="bg-white">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active text-white" href="#">Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">View Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'backend:confirm_logout' %}">Logout</a>
        </li>

    </ul>
    <hr class="bg-white">
</div>