{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
About Us
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        <div class="col-sm-4">
          <a href="detail.html">
            <img src="images/mark.jpg" class="img-circle">
          </a>
          <h2>Mark Zuckerbarg</h2>
          <a href="detail.html" class="btn btn-primary">Readmore</a>
        </div>
        <div class="col-sm-4">
          <a href="detail.html">
            <img src="images/jerry.jpg" class="img-circle">
          </a>
          <h2>Jerry Jang</h2>
          <a href="detail.html" class="btn btn-primary">Readmore</a>
        </div>
        <div class="col-sm-4">
          <a href="detail.html">
            <img src="images/mayer.jpg" class="img-circle">
          </a>
          <h2>Marrissa Mayer</h2>
          <a href="detail.html" class="btn btn-primary">Readmore</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-left">
          <h3>Operating Staff</h3>
          <table class="table">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john.doe@email.com</td>
            </tr>
            <tr>
              <td>Slim</td>
              <td>Brim</td>
              <td>slim.brin@email.com</td>
            </tr>
            <tr>
              <td>Kashamawu</td>
              <td>Idris</td>
              <td>kashamawu.idris@email.com</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include 'frontend/sidebar.html' %}
  </div>
</section>
{% endblock %}