{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
About Us
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        {% if abt %}
          {% for a in abt %}
            <div class="col-sm-4">
              <a href="detail.html">
                <img src="{{ a.profile_img }}" class="img-circle">
              </a>
              <h2>{{ a.name }}</h2>
              <a href="{% url 'frontend:about_detail' a.id %}" class="btn btn-primary">Readmore</a>
            </div>
          {% endfor %}
        {% endif %}
        
        
      </div>
      <div class="row">
        <div class="col-sm-12 text-left">
          <h3>Operating Staff</h3>
          <table class="table">
            <tr>
              <th>S/N</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
            {% if user %}
              {% for u in user %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ u.first_name }}</td>
                  <td>{{ u.last_name }}</td>
                  <td>{{ u.email }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    </div>
    {% include 'frontend/sidebar.html' %}
  </div>
</section>
{% endblock %}