{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}
<section id="banner">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-9 text-center">
      <div class="caption">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus, esse ex molestias maiores. Provident
          nam totam modi, expedita quos sit voluptates distinctio porro illo esse asperiores, animi eveniet ipsam?
        </p>
        <a href="#" class="btn btn-primary">Readmore</a>
      </div>
    </div>
  </div>
</section>
<section id="services" class="text-center">
  <div class="page-header">
    <h1>Services</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <span class="fa fa-android"></span>
      <h1>Mobile Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-apple"></span>
      <h1>Software Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-code"></span>
      <h1>Web Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet
        officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus
        voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
  </div>
</section>
<!-- END OF SERVICE SECTION -->
<section id="services" class="text-center">
  <div class="page-header">
    <h1>Latest News</h1>
  </div>
  <div class="row">
    {% if latest %}
      {% for l in latest %}
          <!-- {% if l.appear_home == 'Feature' %} -->
          <div class="col-sm-4">
            <img src="{{ l.post_img }}" class="img-responsive">
            <p>
              Time:{{ l.date }}, Category: 
              {% for c in l.cat_id.all  %}
                   <a href="{% url 'frontend:post_from_cat' c.id %}">{{ c.cat_name }}</a>.
              {% endfor %}
              Posted By: <a href="#">{{ l.user.first_name }}</a>.
          
            </p>
            <h3>{{ l.pst_title }}</h3>
            <p>
              {{ l.content|truncatewords:30 }}
            </p>
            <a href="{% url 'frontend:single_post' l.id %}" class="btn btn-success">Readmore</a>
          </div>
          
          <!-- {% endif %} -->
      {% endfor %}
    {% endif %}
  
  </div>
</section>
{% endblock %}