<aside class="col-sm-3" id="sideBar">
    <div class="widget">
        <h3>Search</h3>
        <form>
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
    </div>
    <div class="widget">
        <h3>Menu</h3>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </div>
    <div class="widget">
        <h3>Branches</h3>
        <ul class="nav">
            <li><a href="#">Ikeja</a></li>
            <li><a href="#">Festac</a></li>
            <li><a href="#">Surulere</a></li>
            <li><a href="#">Lekki</a></li>
            <li><a href="#">Shomolu</a></li>
        </ul>
    </div>
</aside>