<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Single Post</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <header id="siteLogo">
        <div class="row">
          <div class="col-sm-3">
            <img src="images/logo.png">
          </div>
          <div class="col-sm-9">
            <span class="social-logo pull-right">
              <a href="#">
                <img src="images/fb.png" class="img-circle">
              </a>
              <a href="#">
                <img src="images/tw.png" class="img-circle">
              </a><a href="#">
                <img src="images/gp.png" class="img-circle">
              </a>
            </span>
          </div>
        </div>
      </header>
      <!-- END OF SITE LOGO ROW -->
      <section id="siteMenu">
        <div class="row">
          <nav class="navbar navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-target="#mainNav" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="mainNav">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="about.html">About</a></li>
                <li><a href="post-list.html">Blog</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      <!-- END OF SITE MENU -->
      <section id="sectionTitle">
        <div class="pageTitle">
          <h1>Single Post</h1>
        </div>
      </section>
      <!-- END OF PAGE TITLE -->
      <section id="content">
        <div class="row">
          <div class="col-sm-9 text-center" id="detailContent">
              <div class="contain-img">
                <div class="img-div" style="height: 250px">
                    <img src="images/blog-img1.jpg" class="img-responsive">
                </div>
                <p>
                  Time:8:30am, Category:<a href="sport.html">Sport.</a>. 
                  
                </p>
              </div>
              <div class="detail-content">
                <h2>Mark Zuckerberg is the sixth richest Man</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
                  possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
                  debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
                  possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
                  debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum,
                  possimus, hic quibusdam aliquam sit natus aut fugiat sapiente, odio fuga
                  debitis reiciendis, pariatur officiis non consequuntur harum illum! Delectus!
                </p>
              </div>

          </div>
          <aside class="col-sm-3" id="sideBar">
            <div class="widget">
              <h3>Search</h3>
              <form>
                <div class="form-group">
                  <input type="text" name="search" class="form-control" placeholder="Search">
                </div>
                <input type="submit" value="Search" class="btn btn-primary">
              </form>
            </div>
            <div class="widget">
              <h3>Menu</h3>
              <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="widget">
              <h3>Branches</h3>
              <ul class="nav">
                <li><a href="#">Ikeja</a></li>
                <li><a href="#">Festac</a></li>
                <li><a href="#">Surulere</a></li>
                <li><a href="#">Lekki</a></li>
              </ul>
            </div>
          </aside>
          <!-- END OF ASIDE CONTENT -->
        </div>
      </section>
    </div>
    <footer class="container-fluid" id="siteFooter">
      <div class="row">
        <div class="col-sm-4">
          <h4>Menu</h4>
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>Services</h4>
          <ul class="nav">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Software Development</a></li>
            <li><a href="#">Mobile App Development</a></li>
            <li><a href="#">Training</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>Subscribe</h4>
          <form class="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subscribe">
              <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
            </div>
            
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>&copy; 2016</p>
        </div>
        <div class="col-md-9">
          <p class="copy pull-right">
            <a href="#" target="_blank">www.alabiansolutions.com</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
